@import url("../../reset.css");
@font-face {
	font-family: "Ewert";
	font-style: normal;
	font-weight: normal;
	src: local("Ewert"), local("Ewert-Regular"), url("./fonts/ewert.woff2") format("woff2"), url("./fonts/ewert.woff") format("woff");
}
@font-face {
	font-family: "Quantico";
	font-style: normal;
	font-weight: normal;
	src: local("Quantico"), local("Quantico-Regular"), url("./fonts/quantico.woff2") format("woff2"), url("./fonts/quantico.woff") format("woff");
}
@keyframes ants {
	from {
		background-position: 0;
	}
	to {
		background-position: 0, 4rem, 4rem, -4rem, -4rem;
	}
}
::selection {
	background-color: #fff;
	color: #333;
}
:root {
	--yellow: #fc3;
	--yellow-shadow: #fc39;
	--dark-yellow: #c90;
	--purple: #303;
	--purple-shadow: #3039;
	--light-purple: #636;
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	min-height: 100%;
}
body {
	overflow: hidden auto;
	background:
		linear-gradient(to bottom, var(--yellow-shadow), #0000 100vh),
		var(--purple);
	color: var(--yellow);
	font-family: "Quantico", monospace;
}
/*~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
	place-content: start center;
	place-items: center;
	display: grid;
	min-height: 100vh;
	padding: 0 0 4rem;
	gap: 4rem;
}
header > hgroup {
	font-family: "Ewert", monospace;
}
header > hgroup > h1 {
	position: relative;
	width: 28.4rem;
	height: 14.2rem;
	margin: auto;
	padding: 0 0 1rem;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	border: 1.2rem double currentColor;
	border-top: 0;
	background-color: var(--purple);
	color: var(--yellow);
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: center;
	white-space: pre-line;
}
header > hgroup > h2 {
	width: 36.8rem;
	height: 18.4rem;
	margin: -14.2rem auto 0;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	border: 1.2rem double currentColor;
	border-top: 0;
	background-color: var(--yellow);
	color: var(--purple);
	font-weight: normal;
	fill: currentColor;
	box-shadow: 0 0 100vh var(--yellow-shadow);
}
header > nav {
	width: 36.8rem;
	border-radius: 2.4rem;
	border: 1.2rem double currentColor;
	background-color: var(--yellow);
	color: var(--purple);
}
header > nav > h2 {
	line-height: 1.5625;
	font-size: 2.56rem;
}
header > nav > ul > li {
	margin: 0;
}
header > nav > ul > li::before {
	display: none;
}
header > nav > ul > li > p {
	margin: 0;
}
header > nav > ul > li > p > a {
	place-items: center stretch;
	grid-template-columns: auto auto 1fr;
	display: grid;
	margin: -1rem;
	padding: 1rem;
	gap: 1rem;
	border-radius: 3.2rem;
	border: 1.2rem double #0000;
}
header > nav > ul > li > p > a:hover,
header > nav > ul > li > p > a:focus-within {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
header > nav > ul > li > p > a:hover,
header > nav > ul:not(:hover) > li > p > a:focus-within {
	border-color: currentColor;
	background:
		linear-gradient(var(--yellow), var(--yellow)) padding-box,
		linear-gradient(135deg, #0000 75%, currentColor 0),
		linear-gradient(-135deg, #0000 75%, currentColor 0),
		linear-gradient(45deg, #0000 75%, currentColor 0),
		linear-gradient(-45deg, #0000 75%, currentColor 0),
		var(--yellow);
	background-size: 4rem;
	text-decoration: none;
	animation: ants 2s linear infinite;
}
header > nav > ul > li > p > a::after {
	content: "";
	border-top: .4rem dotted currentColor;
}
header > nav > ul > li > p > a > strong {
	place-items: center stretch;
	display: grid;
	gap: 1rem;
	line-height: .625;
	font-family: "Ewert", monospace;
	font-size: 2em;
	font-weight: normal;
}
/*~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
	position: relative;
	place-content: end center;
	place-items: center;
	display: grid;
	padding: 4rem 0 0;
	gap: 4rem;
	background-color: var(--yellow);
	color: var(--purple);
}
footer > p {
	margin: 0;
	font-family: "Ewert", monospace;
}
footer > p > a {
	overflow: hidden;
	display: block;
	width: 36.8rem;
	height: 18.4rem;
	margin: 0 auto -14.2rem;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border: 1.2rem double currentColor;
	border-bottom: 0;
	background-color: var(--purple);
	color: var(--yellow);
	line-height: 1.3889;
	font-size: 2.88rem;
	fill: currentColor;
	box-shadow: 0 0 100vh var(--purple-shadow);
}
footer > p > a:hover,
footer > p > a:focus-within {
	outline: 0;
	outline-offset: 0;
	background-color: var(--yellow);
	color: var(--purple);
	text-decoration: none;
}
footer > p::after {
	content: "";
	display: block;
	width: 28.4rem;
	height: 14.2rem;
	margin: auto;
	padding: 1rem 0 0;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border: 1.2rem double currentColor;
	border-bottom: 0;
	background:
		url("../../logotypes/brandmark/multicolored.png") center / contain no-repeat content-box,
		var(--yellow);
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	position: relative;
	display: grid;
	gap: 4rem;
	background-color: var(--purple);
	color: var(--yellow);
}
main > section {
	position: relative;
	padding: 2rem max(2rem, 50vw - 44rem);
}
main > section:nth-of-type(odd) {
	background-color: var(--yellow);
	color: var(--purple);
}
main > section:nth-of-type(odd)::before {
	content: "";
	position: absolute;
	left: 0;
	top: -4rem;
	width: 100%;
	height: 4rem;
	background:
		linear-gradient(to bottom left, #0000 75%, var(--yellow) 0),
		linear-gradient(to bottom right, #0000 75%, var(--yellow) 0),
		linear-gradient(to bottom left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to bottom right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to bottom left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to bottom right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to bottom left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to bottom right, #0000 calc(75% - 1.2rem), currentColor 0);
	background-size: 4rem;
	background-repeat: round;
}
main > section:nth-of-type(odd)::after {
	content: "";
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 4rem;
	background:
		linear-gradient(to top left, #0000 75%, var(--yellow) 0),
		linear-gradient(to top right, #0000 75%, var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - 1.2rem), currentColor 0);
	background-size: 4rem;
	background-repeat: round;
}
/*~~~~~~ .classes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ol.podium {
	place-items: stretch start;
	display: grid;
	margin: 2rem -2rem;
	padding: 2rem 0;
	gap: 2rem 0;
	border-left: 1.2rem double currentColor;
	color: var(--purple);
}
ol.podium > li {
	place-items: center stretch;
	grid-auto-flow: column;
	display: grid;
	min-width: 0;
	min-height: 0;
	margin: 0;
}
ol.podium > li::before {
	content: counter(ol);
	direction: ltr;
	place-items: center;
	display: grid;
	height: 14.4rem;
	margin: 0;
	border-radius: 0 2.4rem 2.4rem 0;
	border: 1.2rem double currentColor;
	border-left: 0;
	background:
		radial-gradient(circle, var(--medal) 5rem, #0000 0 5.4rem, var(--medal) 0 5.8rem, #0000 0) no-repeat,
		var(--purple);
	font-family: "Ewert", monospace;
	font-size: 8rem;
	font-style: normal;
	font-weight: normal;
	text-align: center;
}
ol.podium > li:nth-of-type(1)::before {
	--medal: #fc0;
	width: 13.2rem;
}
ol.podium > li:nth-of-type(2)::before {
	--medal: #ccc;
	width: 11.2rem;
}
ol.podium > li:nth-of-type(3)::before {
	--medal: #963;
	width: 9.2rem;
}
ol.podium > li > p:nth-of-type(1) {
	font-size: 3.2rem;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}
dl.pantheon {
	place-content: stretch start;
	place-items: center stretch;
	grid-template-columns: auto 1fr;
	display: grid;
	margin: 2rem -2rem;
	padding: 2rem 0;
	gap: 2rem 0;
}
dl.pantheon > dt {
	position: relative;
	place-items: start center;
	grid-template-rows: auto 1fr;
	display: grid;
	width: 12.4rem;
	margin: 0 0 14.4rem;
	padding: 5rem 1rem 3rem;
	border: 1.2rem double currentColor;
	border-bottom: 0;
	background-color: var(--yellow);
	color: var(--purple);
	text-align: center;
}
dl.pantheon > dt::before {
	content: "";
	position: absolute;
	top: 100%;
	width: 12.4rem;
	height: 6.2rem;
	border: 1.2rem double currentColor;
	border-top: 0;
	border-bottom: 0;
	background:
		linear-gradient(to top left, #0000 75%, var(--yellow) 0),
		linear-gradient(to top right, #0000 75%, var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - 1.2rem), currentColor 0);
	background-position: 5rem center;
}
dl.pantheon > dt::after {
	position: absolute;
	top: 100%;
	width: 12.4rem;
	height: 12.4rem;
	margin: 2rem 0 0;
	padding: 1rem;
	border-radius: 50%;
	border: 1.2rem double currentColor;
	background-color: var(--medal);
}
dl.pantheon > dt:nth-of-type(1)::after {
	--medal: #fc0;
	content: url("./icons/originality.svg");
}
dl.pantheon > dt:nth-of-type(2)::after {
	--medal: #fc0;
	content: url("./icons/gameplay.svg");
}
dl.pantheon > dt:nth-of-type(3)::after {
	--medal: #fc0;
	content: url("./icons/design.svg");
}
dl.pantheon > dd {
	min-width: 0;
	min-height: 0;
	margin: 0;
}
dl.pantheon > dd::before {
	content: none;
}
dl.pantheon > dd > p:nth-of-type(1) {
	font-size: 3.2rem;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}
section.team {
	position: relative;
	display: flow-root;
	margin: 2rem 0;
}
section.team > h3 > a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
section.team > figure {
	position: relative;
	margin: 2rem -2rem;
	border-radius: 2.4rem;
	border: 1.2rem double currentColor;
	background: var(--purple);
	color: var(--yellow);
	transition: transform .25s;
}
section.team:hover > figure,
section.team:focus-within > figure {
	transform: rotate(-7.5deg);
}
section.team:nth-of-type(even):hover > figure,
section.team:nth-of-type(even):focus-within > figure {
	transform: rotate(7.5deg);
}
section.team > figure::before,
section.team > figure::after {
	content: "";
	position: absolute;
	left: -2.2rem;
	top: -2.2rem;
	z-index: 1;
	width: calc(100% + 4.4rem);
	height: calc(100% + 4.4rem);
	color: var(--purple);
	transition: background-position .25s, transform .25s;
}
section.team > figure::before {
	background:
		linear-gradient(-37.5deg, #0000 calc(100% - 4.8rem), var(--yellow) 0),
		linear-gradient(-37.5deg, #0000 calc(100% - 5.2rem), currentColor 0),
		linear-gradient(-37.5deg, #0000 calc(100% - 5.6rem), var(--yellow) 0),
		linear-gradient(-37.5deg, #0000 calc(100% - 6rem), currentColor 0);
	background-repeat: no-repeat;
}
section.team > figure::after {
	background:
		linear-gradient(142.5deg, #0000 calc(100% - 4.8rem), var(--yellow) 0),
		linear-gradient(142.5deg, #0000 calc(100% - 5.2rem), currentColor 0),
		linear-gradient(142.5deg, #0000 calc(100% - 5.6rem), var(--yellow) 0),
		linear-gradient(142.5deg, #0000 calc(100% - 6rem), currentColor 0);
	background-repeat: no-repeat;
}
section.team:nth-of-type(even) > figure::before {
	background:
		linear-gradient(37.5deg, #0000 calc(100% - 4.8rem), var(--yellow) 0),
		linear-gradient(37.5deg, #0000 calc(100% - 5.2rem), currentColor 0),
		linear-gradient(37.5deg, #0000 calc(100% - 5.6rem), var(--yellow) 0),
		linear-gradient(37.5deg, #0000 calc(100% - 6rem), currentColor 0);
	background-repeat: no-repeat;
}
section.team:nth-of-type(even) > figure::after {
	background:
		linear-gradient(-142.5deg, #0000 calc(100% - 4.8rem), var(--yellow) 0),
		linear-gradient(-142.5deg, #0000 calc(100% - 5.2rem), currentColor 0),
		linear-gradient(-142.5deg, #0000 calc(100% - 5.6rem), var(--yellow) 0),
		linear-gradient(-142.5deg, #0000 calc(100% - 6rem), currentColor 0);
	background-repeat: no-repeat;
}
section.team:hover > figure::before,
section.team:hover > figure::after,
section.team:focus-within > figure::before,
section.team:focus-within > figure::after {
	transform: rotate(7.5deg);
}
section.team:hover > figure::before,
section.team:focus-within > figure::before {
	background-position: -1rem -1rem;
}
section.team:hover > figure::after,
section.team:focus-within > figure::after {
	background-position: 1rem 1rem;
}
section.team:nth-of-type(even):hover > figure::before,
section.team:nth-of-type(even):hover > figure::after,
section.team:nth-of-type(even):focus-within > figure::before,
section.team:nth-of-type(even):focus-within > figure::after {
	transform: rotate(-7.5deg);
}
section.team:nth-of-type(even):hover > figure::before,
section.team:nth-of-type(even):focus-within > figure::before {
	background-position: 1rem -1rem;
}
section.team:nth-of-type(even):hover > figure::after,
section.team:nth-of-type(even):focus-within > figure::after {
	background-position: -1rem 1rem;
}
section.team > figure > figcaption {
	font-size: 0;
}
section.team > figure > picture > img {
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	border-radius: 1.2rem;
	object-fit: cover;
}
@media screen and (min-width: 27.5em) {
	header > hgroup > h1 {
		width: 34.4rem;
		height: 17.2rem;
		font-size: 4rem;
	}
	header > hgroup > h2 {
		width: 44.8rem;
		height: 22.4rem;
		margin: -17.2rem auto 0;
		line-height: 1.25;
		font-size: 3.2rem;
	}
	header > nav {
		width: 44.8rem;
		margin: 0;
	}
	header > nav > ul > li > p > a {
		grid-template-columns: 50% auto 1fr;
	}
	header > nav > ul > li > p > a > strong {
		grid-template-columns: 1fr auto;
	}
	header > nav > ul > li > p > a > strong::before {
		content: "";
		border-top: .4rem dotted currentColor;
	}
	footer > p > a {
		width: 44.8rem;
		height: 22.4rem;
		margin: 0 auto -17.2rem;
		line-height: 1.25;
		font-size: 3.2rem;
	}
	footer > p::after {
		width: 34.4rem;
		height: 17.2rem;
	}
}
@media screen and (min-width: 41.25em) {
	ol.podium {
		place-items: end stretch;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
		padding: 0 2rem;
		gap: 0 2rem;
		border-left: 0;
		border-bottom: 1.2rem double currentColor;
	}
	ol.podium > li {
		grid-auto-flow: row;
	}
	ol.podium > li::before {
		order: 1;
		border-radius: 2.4rem 2.4rem 0 0;
		border: 1.2rem double currentColor;
		border-bottom: 0;
		background:
			radial-gradient(circle, var(--medal) 6rem, #0000 0 6.4rem, var(--medal) 0 6.8rem, #0000 0) no-repeat,
			var(--purple);
		color: var(--yellow);
		-webkit-text-fill-color: var(--purple);
	}
	ol.podium > li:nth-of-type(1) {
		order: 2;
	}
	ol.podium > li:nth-of-type(2) {
		order: 1;
	}
	ol.podium > li:nth-of-type(3) {
		order: 3;
	}
	ol.podium > li:nth-of-type(1)::before {
		width: auto;
		height: 19.2rem;
	}
	ol.podium > li:nth-of-type(2)::before {
		width: auto;
		height: 15.2rem;
	}
	ol.podium > li:nth-of-type(3)::before {
		width: auto;
		height: 11.2rem;
	}
	ol.podium > li > p:nth-of-type(1) {
		text-align: center;
	}
	dl.pantheon > dt {
		width: 14.4rem;
		margin: 0 0 16.4rem;
		padding: 6rem 2rem 4rem;
	}
	dl.pantheon > dt::before {
		width: 14.4rem;
		height: 7.2rem;
		background-position: 6rem center;
	}
	dl.pantheon > dt::after {
		width: 14.4rem;
		height: 14.4rem;
		padding: 2rem;
	}
	section.team {
		min-height: 20.4rem;
		padding: 0 0 0 32.4rem;
	}
	section.team:nth-of-type(even) {
		padding: 0 32.4rem 0 0;
	}
	section.team > figure {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 34.4rem;
		height: 20.4rem;
		margin: auto -2rem;
	}
	section.team:nth-of-type(even) > figure {
		left: calc(100% - 32.4rem);
	}
}
@media screen and (min-width: 55em) {
	ol.podium,
	dl.pantheon {
		margin: 2rem;
	}
	section.team {
		min-height: 29.4rem;
		padding: 0 0 0 52.4rem;
	}
	section.team:nth-of-type(even) {
		padding: 0 52.4rem 0 0;
	}
	section.team > figure {
		width: 50.4rem;
		height: 29.4rem;
		margin: auto 2rem;
	}
	section.team:nth-of-type(even) > figure {
		left: calc(100% - 52.4rem);
	}
}
