@import url("../../reset.css");
@font-face {
	font-family: "Ewert";
	font-style: normal;
	font-weight: normal;
	src: local("Ewert"), local("Ewert-Regular"), url("./fonts/ewert.woff2") format("woff2"), url("./fonts/ewert.woff") format("woff");
}
@font-face {
	font-family: "Quantico";
	font-style: normal;
	font-weight: normal;
	src: local("Quantico"), local("Quantico-Regular"), url("./fonts/quantico.woff2") format("woff2"), url("./fonts/quantico.woff") format("woff");
}
@keyframes ants {
	from {
		background-position: 0;
	}
	to {
		background-position: 0, 4rem, 4rem, -4rem, -4rem;
	}
}
::selection {
	background-color: #fff;
	color: #333;
}
:root {
	--yellow: #fc3;
	--yellow-shadow: #fc39;
	--dark-yellow: #c90;
	--purple: #303;
	--purple-shadow: #3039;
	--light-purple: #636;
}
/*~~~~~~ html, body ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
	min-height: 100%;
}
body {
	overflow: hidden auto;
	background:
		linear-gradient(to bottom, var(--yellow-shadow), #0000 100vh),
		var(--purple);
	color: var(--yellow);
	font-family: "Quantico", monospace;
}
/*~~~~~~ header ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
	place-content: start center;
	place-items: center;
	display: grid;
	min-height: 100vh;
	padding: 0 0 4rem;
}
header > hgroup {
	min-width: 0;
	margin: 0 2rem 2rem;
	font-family: "Ewert", monospace;
}
header > hgroup > h1 {
	position: relative;
	width: 34.4rem;
	height: 17.2rem;
	margin: auto;
	padding: 0 0 1rem;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	border: 1.2rem double currentColor;
	border-top: 0;
	background-color: var(--purple);
	color: var(--yellow);
	font-size: 4rem;
	font-variant-caps: small-caps;
	font-weight: normal;
	text-align: center;
}
header > hgroup > h2 {
	width: 44.8rem;
	height: 22.4rem;
	margin: -17.2rem auto 0;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	border: 1.2rem double currentColor;
	border-top: 0;
	background-color: var(--yellow);
	color: var(--purple);
	font-size: 3.2rem;
	font-weight: normal;
	fill: currentColor;
	box-shadow: 0 0 100vh var(--yellow-shadow);
}
header > nav {
	min-width: 0;
	border-radius: 2.4rem;
	border: 1.2rem double currentColor;
	background-color: var(--yellow);
	color: var(--purple);
}
header > nav > ul > li {
	margin: 0;
	min-width: 0;
	min-height: 0;
}
header > nav > ul > li::before {
	display: none;
}
header > nav > ul > li > p {
	margin: 0;
}
header > nav > ul > li > p > a {
	place-items: center;
	display: flex;
	margin: -1rem;
	padding: 1rem;
	gap: 1rem;
	border-radius: 3.2rem;
	border: 1.2rem double #0000;
	white-space: nowrap;
}
header > nav > ul > li > p > a:hover,
header > nav > ul > li > p > a:focus-within {
	outline: 0;
	outline-offset: 0;
	text-decoration: none;
}
header > nav > ul > li > p > a:hover,
header > nav > ul:not(:hover) > li > p > a:focus-within {
	border-color: currentColor;
	background:
		linear-gradient(var(--yellow), var(--yellow)) padding-box,
		linear-gradient(135deg, #0000 75%, currentColor 0),
		linear-gradient(-135deg, #0000 75%, currentColor 0),
		linear-gradient(45deg, #0000 75%, currentColor 0),
		linear-gradient(-45deg, #0000 75%, currentColor 0),
		var(--yellow);
	background-size: 4rem;
	text-decoration: none;
	animation: ants 2s linear infinite;
}
header > nav > ul > li > p > a::after,
header > nav > ul > li > p > a > strong::before {
	content: "";
	flex: 1 0 0;
	border-top: .4rem dotted currentColor;
}
header > nav > ul > li > p > a > strong {
	place-items: center;
	flex: 0 0 50%;
	display: flex;
	gap: 1rem;
	line-height: .625;
	font-family: "Ewert", monospace;
	font-size: 2em;
	font-weight: normal;
}
/*~~~~~~ footer ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
footer {
	position: relative;
	place-content: end center;
	place-items: center;
	display: grid;
	background-color: var(--yellow);
	color: var(--purple);
	padding: 4rem 0 0;
}
footer > p {
	min-width: 0;
	margin: 2rem 2rem 0;
	font-family: "Ewert", monospace;
}
footer > p > a {
	overflow: hidden;
	display: block;
	width: 44.8rem;
	height: 22.4rem;
	margin: 0 auto -17.2rem;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border: 1.2rem double currentColor;
	border-bottom: 0;
	background-color: var(--purple);
	color: var(--yellow);
	font-size: 3.2rem;
	fill: currentColor;
	box-shadow: 0 0 100vh var(--purple-shadow);
}
footer > p > a:hover,
footer > p > a:focus-within {
	outline: 0;
	outline-offset: 0;
	background-color: var(--yellow);
	color: var(--purple);
	text-decoration: none;
}
footer > p::after {
	content: "";
	display: block;
	width: 34.4rem;
	height: 17.2rem;
	margin: auto;
	padding: 1rem 0 0;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	border: 1.2rem double currentColor;
	border-bottom: 0;
	background:
		url("../../logotypes/brandmark/multicolored.png") center / contain no-repeat content-box,
		var(--yellow);
}
/*~~~~~~ main ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
main {
	position: relative;
	display: grid;
	gap: 4rem;
	background-color: var(--purple);
	color: var(--yellow);
}
main > section {
	position: relative;
	min-width: 0;
	padding: 2rem max(2rem, 50vw - 44rem);
}
main > section:nth-of-type(odd) {
	background-color: var(--yellow);
	color: var(--purple);
}
main > section:nth-of-type(odd)::before {
	content: "";
	position: absolute;
	top: -4rem;
	left: 0;
	width: 100%;
	height: 4rem;
	background:
		linear-gradient(to bottom left, #0000 75%, var(--yellow) 0),
		linear-gradient(to bottom right, #0000 75%, var(--yellow) 0),
		linear-gradient(to bottom left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to bottom right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to bottom left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to bottom right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to bottom left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to bottom right, #0000 calc(75% - 1.2rem), currentColor 0);
	background-size: 4rem;
	background-repeat: round;
}
main > section:nth-of-type(odd)::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4rem;
	background:
		linear-gradient(to top left, #0000 75%, var(--yellow) 0),
		linear-gradient(to top right, #0000 75%, var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - 1.2rem), currentColor 0);
	background-size: 4rem;
	background-repeat: round;
}
/*~~~~~~ .classes ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
ol.podium {
	place-items: end stretch;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	border-bottom: 1.2rem double currentColor;
	color: var(--purple);
}
ol.podium > li {
	flex-flow: column nowrap;
	display: flex;
	min-width: 0;
	min-height: 0;
	margin: 0;
}
ol.podium > li:nth-of-type(2) {
	order: -1;
}
ol.podium > li::before {
	content: counter(ol);
	direction: ltr;
	order: 1;
	place-items: center;
	display: grid;
	width: auto;
	margin: 0;
	border-radius: 2.4rem 2.4rem 0 0;
	border: 1.2rem double var(--yellow);
	border-bottom: 0;
	background:
		radial-gradient(circle, var(--medal) 6rem, #0000 0 6.4rem, var(--medal) 0 6.8rem, #0000 0) no-repeat,
		var(--purple);
	font-family: "Ewert", monospace;
	font-size: 8rem;
	font-style: normal;
	font-weight: normal;
}
ol.podium > li:nth-of-type(1)::before {
	--medal: #fc0;
	height: 19.2rem;
}
ol.podium > li:nth-of-type(2)::before {
	--medal: #ccc;
	height: 15.2rem;
}
ol.podium > li:nth-of-type(3)::before {
	--medal: #963;
	height: 11.2rem;
}
ol.podium > li > p:nth-of-type(1) {
	font-size: 3.2rem;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
dl.pantheon {
	place-items: center stretch;
	grid-template-columns: auto 1fr;
	display: grid;
}
dl.pantheon > dt {
	place-items: start center;
	grid-template-rows: auto 1fr;
	display: grid;
	width: 12.4rem;
	margin: 7.2rem 1rem 3.6rem;
	padding: 2rem 0;
	border: 1.2rem double var(--purple);
	border-top: 0;
	border-bottom: 0;
	background-color: var(--yellow);
	color: var(--purple);
	text-align: center;
}
dl.pantheon > dt::before {
	width: 14.4rem;
	height: 14.4rem;
	margin: -9.2rem -2.2rem 2rem;
	padding: 2rem;
	border-radius: 50%;
	border: 1.2rem double var(--purple);
	background-color: var(--medal);
	color: var(--purple);
}
dl.pantheon > dt:nth-of-type(1)::before {
	--medal: #fc0;
	content: url("./icons/originality.svg");
}
dl.pantheon > dt:nth-of-type(2)::before {
	--medal: #fc0;
	content: url("./icons/gameplay.svg");
}
dl.pantheon > dt:nth-of-type(3)::before {
	--medal: #fc0;
	content: url("./icons/design.svg");
}
dl.pantheon > dt::after {
	content: "";
	width: 12.4rem;
	height: 5rem;
	margin: 2rem -1.2rem -9.2rem;
	border: 1.2rem double var(--purple);
	border-top: 0;
	border-bottom: 0;
	background:
		linear-gradient(to top left, #0000 75%, var(--yellow) 0),
		linear-gradient(to top right, #0000 75%, var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - .4rem), currentColor 0),
		linear-gradient(to top left, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top right, #0000 calc(75% - .8rem), var(--yellow) 0),
		linear-gradient(to top left, #0000 calc(75% - 1.2rem), currentColor 0),
		linear-gradient(to top right, #0000 calc(75% - 1.2rem), currentColor 0);
	color: var(--purple);
}
dl.pantheon > dd {
	min-height: 0;
	margin: 0;
}
dl.pantheon > dd::before {
	content: none;
}
dl.pantheon > dd > p:nth-of-type(1) {
	font-size: 3.2rem;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}
